<!DOCTYPE html>
<html ng-app="interactiveMap">
<head>
	<title>Interactive Map</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js
 "></script>
	<script type="text/javascript" src="js/states-object.js"></script>
	<script type="text/javascript" src="js/mainController.js"></script>
</head>
<body ng-controller="interactiveMapController">
	
	<div id="wrapper">

		<div id="vote-bar-wrapper">
			<div class="arrow top"></div>
			<div class="arrow bottom"></div>
			<h3 class="blue">Democrat</h3>
			<h3 class="red">Republican</h3>
			<div id="color-bar">
				<div id="blue-bar" class="bar blue-bar" ng-style="{'width':blueWidth}">{{blueStateVotes}}</div>
				<div id="open-bar" class="bar open-bar" ng-style="{'width':openWidth}">{{openStateVotes}}</div>
				<div id="red-bar" class="bar red-bar" ng-style="{'width':redWidth}">{{redStateVotes}}</div>
			</div>
			<!-- <button onclick="resetStates">Reset Map</button> -->
		</div>


		<div id="map-wrapper">
			<svg width="750" height="500">
				<g ng-repeat="state in states" ng-click="stateClicked(state)">
					<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white">	
					</path>
					<foreignObject ng-attr-x="{{state.nameX}}" ng-attr-y="{{state.nameY}}">
						<div class="state-info">{{state.abbr}}<br />{{state.electoralVotes}}</div>

					</foreignObject>
					
						<table>
							<tr ng-repeat="state in states | filter: isSmall = true">
								<td>{{state.electoralVotes}}</td>
								<td>{{state.abbr}}</td>
							</tr>

						</table>
						
					


				</g>
			</svg>
		</div>
	</div>

	<!-- <li ng-repeat="state in states">
		{{state.name}}
	</li> -->
</body>
</html>